.dialog-root {
  position: fixed;
  width: 100vh;
  height: 100vh;
  top: 0;
  left: 0;
}
.dialog-background {
  background: rgba(0, 0, 0, 0.5);
  width: 100vh;
  height: 100vh;
}
.dialog-content {
  position: fixed;
  background-color: #fff;
  width: 450px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
